[flake8]
max-line-length = 100
exclude =
    migrations,
    __pycache__,
    manage.py,
    settings.py,
    venv,
    .venv,
    .git,
    .github
ignore =
    E501
    W503
    F403
