services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      sh -c "python manage.py migrate --noinput && gunicorn simulador_pytest.wsgi:application --bind 0.0.0.0:8000"
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: user_dev
      POSTGRES_PASSWORD: girls754
      POSTGRES_DB: dev_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  frontend:
    image: node:20
    working_dir: /app
    volumes:
      - ./frontend:/app
    command: >
      sh -c "npm install && npm start"
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  postgres_data:
